* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 1rem;
  background: #233;
}

.main {
  display: flex;
  gap: 1rem;
  margin: auto;
  width: 55%;
}

.panel {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.empty {
  height: 70%;
}

.options {
  color: #aaa;
  filter: opacity(65%);
}

.options label {
  padding: 0 0.5rem 0 0;
}

.colorpicker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 1rem;
  width: 100%;
}

.color-value {
  font-size: 0.9rem;
  width: 5rem;
}

.disabled {
  filter: opacity(45%);
}

input[type="color"] {
  height: 1.2rem;
  width: 1.2rem;
  border: none;
}

input[type="checkbox"] {
  accent-color: #0ff;
}

input[disabled],
button[disabled],
button[disabled]:hover {
  filter: brightness(45%);
}

.container {
  height: 85vh;
  aspect-ratio: 1 / 1;
  border: 1px solid #444;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem auto;
  padding: 0.8rem;
}

.container div {
  border: 0.1px solid rgba(68, 68, 68, 30%);
}

.buttons-set {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  flex: 1 1;
}

button {
  border: none;
  background: #397a4a;
  color: #eee;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
}

button:hover {
  filter: brightness(80%);
}

.clear-btn {
  background: #5ac;
}

.reset-btn {
  background: #ff6347;
}
